sudo: false

language: haskell

ghc: 8.2.2

git:
  submodules:
    true

install:
  - cabal sandbox init
  - cabal sandbox add-source ./snmp
  - cabal install --only-dependencies --enable-tests

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.cabal-sandbox/lib
